flows_node_red_bhavesh.json
[{"id":"e92ad9d9.8d1f28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"13d2af3.7dff851","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"c5472463.73e608","type":"ui_group","z":"","name":"Reg Form","tab":"13d2af3.7dff851","order":1,"disp":true,"width":"6","collapse":false},{"id":"6d540cd4.c7e3e4","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"450b583a.364ed8","type":"ui_group","z":"","name":"Login form","tab":"6d540cd4.c7e3e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"9692cb00.0eb698","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"da765853.dc41d8","type":"ui_tab","z":"","name":"Customer help","icon":"dashboard","disabled":false,"hidden":false},{"id":"112e9f8a.65b22","type":"ui_group","z":"","name":"Bot","tab":"da765853.dc41d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a50293c.f08af8","type":"ui_form","z":"e92ad9d9.8d1f28","name":"","label":"","group":"c5472463.73e608","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":140,"wires":[["131fb697.de3309"]]},{"id":"131fb697.de3309","type":"function","z":"e92ad9d9.8d1f28","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["fa3281d5.92394"]]},{"id":"fa3281d5.92394","type":"cloudant out","z":"e92ad9d9.8d1f28","name":"cloudant","cloudant":"","database":"sample","service":"node-red-vvvee-2020--cloudant-1597403154072-59158","payonly":true,"operation":"insert","x":640,"y":180,"wires":[]},{"id":"6a1c1cd1.2fcf54","type":"ui_form","z":"e92ad9d9.8d1f28","name":"","label":"","group":"450b583a.364ed8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":280,"wires":[["262cd63c.384e8a"]]},{"id":"262cd63c.384e8a","type":"function","z":"e92ad9d9.8d1f28","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":280,"wires":[["7f63823.dc3737c"]]},{"id":"7f63823.dc3737c","type":"function","z":"e92ad9d9.8d1f28","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":280,"wires":[["e09cc89f.edccf8"]]},{"id":"e09cc89f.edccf8","type":"cloudant in","z":"e92ad9d9.8d1f28","name":"","cloudant":"","database":"sample","service":"node-red-vvvee-2020--cloudant-1597403154072-59158","search":"_idx_","design":"user","index":"user","x":890,"y":280,"wires":[["1254b03e.5efc9"]]},{"id":"1254b03e.5efc9","type":"function","z":"e92ad9d9.8d1f28","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":280,"wires":[["cdaf06b5.d9f958"]]},{"id":"cdaf06b5.d9f958","type":"ui_text","z":"e92ad9d9.8d1f28","group":"c5472463.73e608","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":280,"wires":[]},{"id":"febbf761.3c28f8","type":"ui_form","z":"e92ad9d9.8d1f28","name":"","label":"","group":"112e9f8a.65b22","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":440,"wires":[["d68dd48d.f6b678"]]},{"id":"d68dd48d.f6b678","type":"function","z":"e92ad9d9.8d1f28","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["d131256e.b79448"]]},{"id":"d131256e.b79448","type":"watson-conversation-v1","z":"e92ad9d9.8d1f28","name":"","workspaceid":"5e302c03-2539-498a-8d64-1722a1e496a3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a5b4b9c8-1f4d-45f3-b50f-8f15f050ea58","timeout":"","optout-learning":false,"x":610,"y":440,"wires":[["8d0f1fd0.86a9a"]]},{"id":"8d0f1fd0.86a9a","type":"function","z":"e92ad9d9.8d1f28","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":440,"wires":[["80743e92.a1ec8","8252730b.e6d96"]]},{"id":"80743e92.a1ec8","type":"ui_text","z":"e92ad9d9.8d1f28","group":"112e9f8a.65b22","order":1,"width":"6","height":"4","name":"","label":"bot output","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":480,"wires":[]},{"id":"8252730b.e6d96","type":"ui_audio","z":"e92ad9d9.8d1f28","name":"","group":"112e9f8a.65b22","voice":"","always":"","x":1080,"y":380,"wires":[]}]